<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>pranadesha-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 
  ##########################
  # context parameters
  ##########################
   -->
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.LOG_WEB_CONTEXT_PARAMS</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <!-- 
  ##########################
  # JSF Servlet
  ##########################
   -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <!-- 
  ##########################
  # error pages
  ##########################
   -->
  <error-page>
    <error-code>404</error-code>
    <location>/pagenotfound.jsf</location>
  </error-page>
  <!-- 
  ##########################
  # login configuration
  ##########################
   -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsf</form-login-page>
      <form-error-page>/loginerror.jsf</form-error-page>
    </form-login-config>
  </login-config>
  <!-- 
  ##########################
  # session configuration
  ##########################
   -->
  <session-config>
    <session-timeout>30</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
    <tracking-mode>URL</tracking-mode>
  </session-config>
  <!-- 
  ##########################
  # security roles
  ##########################
   -->
  <security-role>
    <role-name>USERS</role-name>
  </security-role>
  <!-- 
  ##########################
  # security constraints
  ##########################
   -->
  <security-constraint>
  	<display-name>Restrict access to xhtml</display-name>
  	<web-resource-collection>
  		<web-resource-name>XHTML</web-resource-name>
  		<description>Restrict access to xhtml</description>
  		<url-pattern>*.xhtml</url-pattern>
  	</web-resource-collection>
  	<auth-constraint/>
  </security-constraint>
  <security-constraint>
    <display-name>Restrict access to authenticated users</display-name>
    <web-resource-collection>
      <web-resource-name>Restrict resources</web-resource-name>
      <url-pattern>/site/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>USERS</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <!-- 
  ##########################
  # Resources
  ##########################
   -->
   <resource-ref>
     <res-ref-name>jdbc/pranadesha</res-ref-name>
     <res-type>javax.sql.DataSource</res-type>
     <res-auth>Container</res-auth>
   </resource-ref>
</web-app>